@model string

@if (!Html.UserIsLogged())
{
    <div class="well well-sm">
        <a href="@Url.Action("Login","Auth")">
            <input type="submit" class="btn btn-primary" value="Log in" />
        </a>

        <a href="@Url.Action("Register","Auth")">
            <input type="submit" class="btn btn-primary" value="Register" />
        </a>
    </div>
}
else
{
    <div class="dropdown">
        <button class="btn btn-toolbar dropdown-toggle" type="button" data-toggle="dropdown">
            <h6>Welcome @Model!!!</h6>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li>
                <a href="@Url.Action("LogOut","Auth")">
                    <input type="submit" class="btn btn-block" value="Log out" />
                </a>
            </li>
            <li class="dropdown-menu-left dropdown-submenu">
                <a class="test" href="#">
                    <input type="submit" class="btn btn-block" value="Edit" />
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="@Url.Action("ChangePassword","AccountManage")">
                            <input type="submit" class="btn btn-block" value="Change Password" />
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("EditPersonalData","AccountManage")">
                            <input type="submit" class="btn btn-block" value="Edit personal data" />
                        </a>
                    </li>
                </ul>
            </li>
            @if (Html.UserHasRole("Customer"))
            {
                <li>
                    <a href="@Url.Action("UserOrders", "OrderManage")">
                        <input type="submit" class="btn btn-block" value="Orders" />
                    </a>
                </li>
            }
        </ul>
    </div>
}

<script>
    $(document).ready(function () {
        $('.dropdown-submenu a.test').on("click", function (e) {
            $(this).next('ul').toggle();
            e.stopPropagation();
            e.preventDefault();
        });
    });
</script>