
@{
    ViewBag.Title = "ManageCRUD";
}
<script src="~/Scripts/jquery-3.1.1.js"></script>
<div class="col-lg-12 well well-lg">
    <div class="well well-lg">
        <div class="btn-group">
            @Ajax.ActionLink("Categories", "Index", "CategoryCRUD", null, new AjaxOptions
       {
           UpdateTargetId = "bodyCRUD",
           OnBegin = "LoadingBefore()",
           OnComplete = "LoadingAfter()"
       },
        new { @class = "btn btn-primary" }
   )

            @Ajax.ActionLink("Customers", "Index", "CustomerCRUD", null, new AjaxOptions
       {
           UpdateTargetId = "bodyCRUD",
           OnBegin = "LoadingBefore()",
           OnComplete = "LoadingAfter()"
       },
        new { @class = "btn btn-primary" }
   )

            @Ajax.ActionLink("Employee", "Index", "EmployeeCRUD", null, new AjaxOptions
       {
           UpdateTargetId = "bodyCRUD",
           OnBegin = "LoadingBefore()",
           OnComplete = "LoadingAfter()"
       },
        new { @class = "btn btn-primary" }
   )

            @Ajax.ActionLink("Products", "Index", "ProductCRUD", null, new AjaxOptions
       {
           UpdateTargetId = "bodyCRUD",
           OnBegin = "LoadingBefore()",
           OnComplete = "LoadingAfter()"
       }, new { @class = "btn btn-primary" })
        </div>
    </div>

    <div id="bodyCRUD" class="well well-lg">
        @Html.Action("Index", "CategoryCRUD")
    </div>
    <i id="bodyLoading" class="fa fa-circle-o-notch fa-pulse fa-5x col-lg-offset-6" style="display:none; align-content:center" aria-hidden="true"></i>


</div>

<script>

    function LoadingBefore() {
        $("#bodyCRUD").hide();
        $("#bodyLoading").show();
    }

    function LoadingAfter() {
        $("#bodyCRUD").show();
        $("#bodyLoading").hide();
    }


</script>