@model FoodOrder.ViewModel.Product.ProductDetailViewModel
@{
    ViewBag.Title = "ProductDetails";
}

<div class="col-lg-12 well well-lg">
    <div class="col-lg-4">
        <a>
            <img src="@Url.ProductImagePath(@Model.CategoryName,@Model.ProductImageName)" height="200" width="300" />
        </a>
    </div>
    <div class="col-lg-4">
        <h1 class="focus">@Model.ProductName</h1>
        <p>@Model.Description</p>
        <h3>@Model.Price</h3>
    </div>
    <div class="col-lg-pull-4 " align="right">
        <br />
        <br />
        <br />
        <br />
        @Ajax.ActionLink("Add to cart", "AddtoCart", "Cart", new { productId = Model.ProductId }, new AjaxOptions
     {
         UpdateTargetId = "shoppingCart"
     }, new { @class = "top-right btn btn-danger btn-lg" })
    </div>
</div>


<div class="col-lg-12 panel panel-primary">
    <h3>Reviews:</h3>
    @if (Model.Reviews.Capacity != 0)
    {
        foreach (var i in Model.Reviews)
        {
            <br />
            <div class="col-lg-12 panel-heading">
                <p class="col-lg-8">@i.CustomerFirstName @i.CustomerLastName</p>
                <p class="col-lg-4">@i.AddedDate</p>

            </div>
            <div class="panel-body">@i.Content</div>
        }
    }
    else
    {
        <p class="col-lg-12">-------------------</p>
    }
</div>

