@model FoodOrder.ViewModel.AccountManage.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
}

<div class="well well-lg">
    <h2>ChangePassword</h2>
    @using (Html.BeginForm("ChangePassword", "AccountManage"))
    {
        @Html.HiddenFor(t => t.Email)

        @Html.Label("Old password")
        @Html.PasswordFor(t => t.OldPassword, new { @class = "form-control", @placeholder = "Old password"})
        @Html.ValidationMessageFor(t => t.OldPassword,String.Empty,new { @style = "color:red" })
        <label style="color:red">@TempData["WrongOldPassword"]</label>

        @Html.Label("New password")
        @Html.PasswordFor(t => t.NewPassword, new { @class = "form-control", @placeholder = "New password" })
        @Html.ValidationMessageFor(t => t.NewPassword, String.Empty, new { @style = "color:red" })

        @Html.Label("Repeat new password")
        @Html.PasswordFor(t => t.NewPassword2, new { @class = "form-control", @placeholder = "New password" })
        @Html.ValidationMessageFor(t => t.NewPassword2, String.Empty, new { @style = "color:red" })
        <label style="color:red">@TempData["NewPasswordsDiffrence"]</label>
        <br />
        <input type="submit" class="btn btn-primary" value="Change"/>

    }

</div>