@model FoodOrder.ViewModel.AccountManage.SetNewPasswordsViewModel
@{
    ViewBag.Title = "SetNewPassword";
}

<div class="well well-lg">
    <h4>Set new passwords</h4>
    @using (Html.BeginForm("SetNewPassword", "AccountManage"))
    {
        @Html.HiddenFor(t => t.Email)
        @Html.HiddenFor(t => t.UserKind)

        @Html.Label("Password")
        @Html.PasswordFor(t => t.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(t => t.Password, String.Empty, new { @style = "color:red" })

        @Html.Label("Repeat password")
        @Html.PasswordFor(t => t.Password2, new { @class = "form-control" })
        @Html.ValidationMessageFor(t => t.Password2, String.Empty, new { @style = "color:red" })

        <br />
        <input type="submit" class="btn btn-primary" value="Save" />
    }
</div>

